<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- SÓ build debug (não entra no release): atalhos exportados para abrir cada tela por adb
         (am start -n com.jonjonesbr.audiobookgen/.DebugSettings) e validar visualmente sem tocar na tela. -->
    <application>
        <activity
            android:name=".DebugVideoExportActivity"
            android:exported="true"/>
        <activity-alias
            android:name=".DebugMeusLivros"
            android:targetActivity=".ui.MeusLivrosActivity"
            android:exported="true"/>
        <activity-alias
            android:name=".DebugConversoes"
            android:targetActivity=".ui.ConversoesActivity"
            android:exported="true"/>
        <activity-alias
            android:name=".DebugAprender"
            android:targetActivity=".ui.AprenderActivity"
            android:exported="true"/>
        <activity-alias
            android:name=".DebugSettings"
            android:targetActivity=".ui.SettingsActivity"
            android:exported="true"/>
        <activity-alias
            android:name=".DebugQueue"
            android:targetActivity=".ui.QueueActivity"
            android:exported="true"/>
        <activity-alias
            android:name=".DebugLibrary"
            android:targetActivity=".ui.LibraryActivity"
            android:exported="true"/>
        <activity-alias
            android:name=".DebugDownloadCentral"
            android:targetActivity=".ui.DownloadCentralActivity"
            android:exported="true"/>
        <activity-alias
            android:name=".DebugBuscarLivros"
            android:targetActivity=".ui.BuscarLivrosActivity"
            android:exported="true"/>
        <activity-alias
            android:name=".DebugStatistics"
            android:targetActivity=".ui.StatisticsActivity"
            android:exported="true"/>
        <activity-alias
            android:name=".DebugHelp"
            android:targetActivity=".ui.HelpActivity"
            android:exported="true"/>
        <activity-alias
            android:name=".DebugErrorLogs"
            android:targetActivity=".ui.ErrorLogsActivity"
            android:exported="true"/>
        <activity-alias
            android:name=".DebugReader"
            android:targetActivity=".ui.ReaderActivity"
            android:exported="true"/>
        <activity-alias
            android:name=".DebugOnboarding"
            android:targetActivity=".ui.OnboardingActivity"
            android:exported="true"/>
        <activity-alias
            android:name=".DebugLivro"
            android:targetActivity=".ui.LivroActivity"
            android:exported="true"/>
    </application>
</manifest>
